@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: contain;
}

.section-container {
  @apply max-w-4xl mx-auto text-center;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
}

#loopHero {
  background-image: url('/images/desktop/image-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  #loopHero {
    background-image: url('/images/mobile/image-hero.jpg');
    background-position: center;
  }
}
